<section class="container vh-100">
  <div class="col-md-6 d-flex justify-content-center align-items-center h-100">
    <div class="card border-success mb-3 bg-white-opacity-75 w-100">
      <div class="card-header bg-transparent fs-1 borde-0">
        <h5 class="card-title fs-1 fw-bold text-white text-center">NobeBank</h5>
      </div>
      <div class="card-body text-success py-5">
        <h5 class="card-title fs-2 text-white text-center">Esteja Preparado para o futuro.</h5>
      </div>
      <div class="card-footer bg-transparent border-0">
        <div class="d-grid gap-2">
          <%= link_to "Crie sua conta de sucesso", new_user_registration_path, class: "btn btn-outline-success rounded-pill text-white fs-4 mb-2" %>
          <%= link_to "Já tenho uma conta de sucesso", new_user_session_path, class: "btn btn-outline-light rounded-pill fs-4" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">

  </div>
</section>
