<div class="card mx-auto text-center" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">Gostaria de criar mais uma conta?</h5>
    <h6 class="card-subtitle mb-2 text-muted">Vamos lรก!</h6>

    <div class="d-grid mt-5">
      <%= link_to "Crie uma conta", bank_accounts_path, class: 'btn btn-outline-success rounded-pill', 'data-turbo-method': :post %>
    </div>
  </div>
</div>